################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Limedika/bin/Debug/net8.0
/Limedika/obj
/Limedika/NpmJS/node_modules
/Limedika/wwwroot/js
